@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    @apply mt-10 w-full text-left uppercase text-gray-500 text-xl;
  }
  td {
    @apply border-t-[1px] px-6 border-gray-500/40;
  }
}

@layer components {
  .client-p-btn {
    @apply flex gap-2 justify-center items-center bg-violet-800 hover:bg-violet-600 rounded-lg px-4 py-2 transition-colors duration-200 ease-in-out;
  }
  .client-s-btn {
    @apply bg-transparent hover:bg-white/20 transition-colors duration-200 ease-in-out rounded-lg border-2 px-4 py-2;
  }
  .cart-prod {
    @apply bg-white rounded-lg h-auto w-full;
  }
  .quantity {
    @apply bg-zinc-400 hover:bg-zinc-500 transition-colors duration-200 ease-in-out w-full flex justify-center items-center rounded-lg p-1 text-white text-2xl;
  }
}

@layer utilities {
  .wrapper {
    @apply w-4/5 mx-auto;
  }
}

.featured-grid {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}
.latest-prods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cart-grid {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
}
.allproducts-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.single-grid {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}

.preview-image {
  box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.75);
}