@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  table {
    @apply w-full mt-5;
  }
  table thead {
    @apply bg-slate-400;
  }
  table tr td {
    @apply border border-slate-400 px-2 py-1;
  }
}

@layer components {
  /* Server */
  .navi {
    @apply flex gap-2 p-3 rounded-l-lg transition-colors duration-200 ease-in-out hover:bg-violet-100;
  }
  .icon {
    @apply h-6 w-6 
  }
  .app-btn {
    @apply bg-emerald-500 hover:bg-emerald-600 text-xl text-white rounded-md py-1 px-2 transition-colors duration-200 ease-in;
  }
  .action-btn {
    @apply px-2 py-1 rounded-lg text-base flex justify-center items-center;
  }
  .input-fields {
    @apply border-2 border-gray-300 rounded-md px-2 py-1 w-full mb-2 focus:border-emerald-500;
  }
  .form-title {
    @apply text-teal-900 font-bold my-2 mb-4 text-3xl;
  }
  .form-label {
    @apply text-teal-900 font-semibold text-lg;
  }

  /* Client */
  .client-p-btn {
    @apply flex gap-2 justify-center items-center bg-violet-800 hover:bg-violet-600 rounded-lg px-4 py-2 transition-colors duration-200 ease-in-out;
  }
  .client-s-btn {
    @apply bg-transparent hover:bg-white/20 transition-colors duration-200 ease-in-out rounded-lg border-2 px-4 py-2;
  }
}

@layer utilities {
  /* Client styles */
  .wrapper {
    @apply w-4/5 mx-auto;
  }
}

.featured-grid {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
}
.latest-prods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}